<!DOCTYPE html>
<html>
<head>
  <title>DesignFlaw</title>
	<%= stylesheet_link_tag 'blueprint/screen', 'application' %>
	<%= stylesheet_link_tag 'blueprint/print', 'media' => 'print' %>  
	<%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<%= auto_discovery_link_tag(:rss, "http://designflaw.net/posts.rss") %>
	<link href='http://fonts.googleapis.com/css?family=Shanti' rel='application' type='text/css'>

	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-28307804-1']);
	  _gaq.push(['_setDomainName', 'designflaw.net']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>

</head>

<body>
	<div id = 'container'>
		<div id="main_content">
			<div class = 'header'><%= link_to 'DesignFlaw', posts_url %></div>
			<h3>A blog about coding, design, and the written word.</h3>

			<a href="http://about.me/arvindang">About Me</a> |

			<% flash.each do |key, value| %>	
			<div class = 'notice'><%= value %></div>
			<% end %>


				<% if User.find_by_id(session[:id]) %>
					<%= link_to "Logout", logout_url, :method => :delete %>
				<% else %>
					<%= link_to "Login", login_url %>
				<% end %> |

			<%= yield %>
			
			</div>
			<div id="sidebar">
				
				<h4><%= link_to "Recent Tweets:", "http://twitter.com/arvindang" %></h4>
				
				<div id="tweets">
					<% tweets.each do |t| %>
					    <%= markdown(tweet_handle_parser(t.text)) %></p>
					<% end %>
				</div>
				
				<h4><%= link_to "Subscribe to RSS", "http://designflaw.net/posts.rss" %></h4>
				
			</div>
			<div class="clr"></div>
	</div>
</body>
</html>
